<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/how.css">
    <link rel="stylesheet" href="/css/header.css">
    
    <title>how to use?</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>How to use?</h1>
        <p>To use this app, follow these steps:</p>
        <ol>
            <li>Connect your device to the same network as the window.</li>
            <li>Enter the IP address of the window in the input field.</li>
            <li>Click the "connect" button to establish a connection.</li>
            <li>Once connected, you can control the window from your device.</li>
        </ol>
        <p>Make sure to have the necessary permissions to control the window.</p>
    </main>
</body>
</html>